<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collaps" data-target="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collaps navbar-collaps" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (!currentUser) {%>
      <form method="GET" action="/register">
        <div class="navbar-nav">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
      <form method="GET" action="/login">
        <div class="navbar-nav">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    <%}%>
    <% if (currentUser) { %>
    <div class="nav-item nav-link">
      <h6>Logged in as: <%= currentUser.email %>!</h6>
    </div>
    <form method="POST" action="/logout">
      <div class="navbar-nav">
        <button type="submit" class="btn btn-primary">Logout</button>
      </div>
    </form>
  <%}%>
  </nav>
</header>